In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe_Use').getOrCreate()

In [3]:
spark

In [23]:
#path = r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\movie_scores.csv"
path = r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\Sales_Funnel_CRM.csv"

In [24]:
## read the dataset
df_pyspark=spark.read.option('header','true').option('delimiter', ',').csv(path,inferSchema=True) # IF inferSchema is not set to true then Pyspark will treat all the columns as string

In [25]:
df_pyspark.show()

+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|Account Number|     Company|     Contact|Account Manager|        Product|Licenses|Sale Price|      Status|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|       2123398|      Google| Larry Pager|   Edward Thorp|      Analytics|     150|   2100000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2192650|        BOBO| Larry Pager|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        420496|        IKEA|   Elon Tusk|   Edward Thorp|      Analytics|     300|   4550000|         Won|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|      Analytics|     300|   2800000|Under Review|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       1216870|   Microsoft| Will Grates|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2200450|     Walmart| Will Grates|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        405886|       Apple|Cindy Phoner| Claude Shannon|      Analytics|     300|   4550000|         Won|
|        470248|Exxon Mobile|Cindy Phoner| Claude Shannon|      Analytics|     150|   2100000|   Presented|
|        698032|         ATT|Cindy Phoner| Claude Shannon|       Tracking|     150|    350000|Under Review|
|        698032|         ATT|Cindy Phoner| Claude Shannon|     Prediction|     150|    700000|   Presented|
|        902797|  CVS Health|Emma Gordian| Claude Shannon|       Tracking|     450|    490000|         Won|
|       2046943|  Salesforce|Emma Gordian| Claude Shannon|      Analytics|     750|   7000000|         Won|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|      Analytics|     300|   4550000|        Lost|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|GPS Positioning|     300|    350000|   Presented|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+

In [34]:
df_pyspark.printSchema()

root
 |-- Account Number: integer (nullable = true)
 |-- Company: string (nullable = true)
 |-- Contact: string (nullable = true)
 |-- Account Manager: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Licenses: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Status: string (nullable = true)

In [26]:
num_rows = df_pyspark.count()  # Get the number of rows
num_columns = len(df_pyspark.columns)  # Get the number of columns

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 17
Number of columns: 8

In [27]:
## Filter Operations

## The below cell gives error

In [36]:
## Filter those where Sale Price is greater or equal to 4000000
df_pyspark.filter("Sale Price>=4000000").show()

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '>='.(line 1, pos 10)

== SQL ==
Sale Price>=4000000
----------^^^

In [37]:
'''
The error you're encountering is due to a syntax issue in your filter expression. When filtering using a condition that
involves a column name with spaces or special characters, you need to enclose the column name in backticks (`)
'''

df_pyspark.filter("`Sale Price` >= 4000000").show()

+--------------+----------+------------+---------------+---------+--------+----------+------+
|Account Number|   Company|     Contact|Account Manager|  Product|Licenses|Sale Price|Status|
+--------------+----------+------------+---------------+---------+--------+----------+------+
|        420496|      IKEA|   Elon Tusk|   Edward Thorp|Analytics|     300|   4550000|   Won|
|        405886|     Apple|Cindy Phoner| Claude Shannon|Analytics|     300|   4550000|   Won|
|       2046943|Salesforce|Emma Gordian| Claude Shannon|Analytics|     750|   7000000|   Won|
|       2169499|     Cisco|Emma Gordian| Claude Shannon|Analytics|     300|   4550000|  Lost|
+--------------+----------+------------+---------------+---------+--------+----------+------+

In [40]:
df_pyspark.filter(df_pyspark.Status == 'Won').show()

+--------------+----------+------------+---------------+---------+--------+----------+------+
|Account Number|   Company|     Contact|Account Manager|  Product|Licenses|Sale Price|Status|
+--------------+----------+------------+---------------+---------+--------+----------+------+
|        420496|      IKEA|   Elon Tusk|   Edward Thorp|Analytics|     300|   4550000|   Won|
|        405886|     Apple|Cindy Phoner| Claude Shannon|Analytics|     300|   4550000|   Won|
|        902797|CVS Health|Emma Gordian| Claude Shannon| Tracking|     450|    490000|   Won|
|       2046943|Salesforce|Emma Gordian| Claude Shannon|Analytics|     750|   7000000|   Won|
+--------------+----------+------------+---------------+---------+--------+----------+------+

In [44]:
df_pyspark.filter("Status == 'Won'").select(['Account Number','Company']).show()

+--------------+----------+
|Account Number|   Company|
+--------------+----------+
|        420496|      IKEA|
|        405886|     Apple|
|        902797|CVS Health|
|       2046943|Salesforce|
+--------------+----------+

In [49]:
## Multi Condition Filtering

df_pyspark.filter((df_pyspark['Status']=='Won') &
                  (df_pyspark['Sale Price']  < 7000000 )).show()

+--------------+----------+------------+---------------+---------+--------+----------+------+
|Account Number|   Company|     Contact|Account Manager|  Product|Licenses|Sale Price|Status|
+--------------+----------+------------+---------------+---------+--------+----------+------+
|        420496|      IKEA|   Elon Tusk|   Edward Thorp|Analytics|     300|   4550000|   Won|
|        405886|     Apple|Cindy Phoner| Claude Shannon|Analytics|     300|   4550000|   Won|
|        902797|CVS Health|Emma Gordian| Claude Shannon| Tracking|     450|    490000|   Won|
+--------------+----------+------------+---------------+---------+--------+----------+------+

### Not/Inverse operation in filter

In [50]:
df_pyspark.filter(~(df_pyspark.Status == 'Won')).show()

+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|Account Number|     Company|     Contact|Account Manager|        Product|Licenses|Sale Price|      Status|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|       2123398|      Google| Larry Pager|   Edward Thorp|      Analytics|     150|   2100000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2192650|        BOBO| Larry Pager|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|      Analytics|     300|   2800000|Under Review|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       1216870|   Microsoft| Will Grates|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2200450|     Walmart| Will Grates|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        470248|Exxon Mobile|Cindy Phoner| Claude Shannon|      Analytics|     150|   2100000|   Presented|
|        698032|         ATT|Cindy Phoner| Claude Shannon|       Tracking|     150|    350000|Under Review|
|        698032|         ATT|Cindy Phoner| Claude Shannon|     Prediction|     150|    700000|   Presented|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|      Analytics|     300|   4550000|        Lost|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|GPS Positioning|     300|    350000|   Presented|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+