## GroupBy And Aggregate Functions In Pyspark

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe_Use').getOrCreate()

In [3]:
spark

In [4]:
## Reading the dataset

In [6]:
path = r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\movie_scores.csv"
path =r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\Sales_Funnel_CRM.csv"

In [7]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv(path,inferSchema=True) # IF inferSchema is not set to true then Pyspark will treat all the columns as string

In [8]:
df_pyspark.show()

+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|Account Number|     Company|     Contact|Account Manager|        Product|Licenses|Sale Price|      Status|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+
|       2123398|      Google| Larry Pager|   Edward Thorp|      Analytics|     150|   2100000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       2123398|      Google| Larry Pager|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2192650|        BOBO| Larry Pager|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        420496|        IKEA|   Elon Tusk|   Edward Thorp|      Analytics|     300|   4550000|         Won|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|      Analytics|     300|   2800000|Under Review|
|        636685|  Tesla Inc.|   Elon Tusk|   Edward Thorp|     Prediction|     150|    700000|   Presented|
|       1216870|   Microsoft| Will Grates|   Edward Thorp|       Tracking|     300|    350000|Under Review|
|       2200450|     Walmart| Will Grates|   Edward Thorp|      Analytics|     150|   2450000|        Lost|
|        405886|       Apple|Cindy Phoner| Claude Shannon|      Analytics|     300|   4550000|         Won|
|        470248|Exxon Mobile|Cindy Phoner| Claude Shannon|      Analytics|     150|   2100000|   Presented|
|        698032|         ATT|Cindy Phoner| Claude Shannon|       Tracking|     150|    350000|Under Review|
|        698032|         ATT|Cindy Phoner| Claude Shannon|     Prediction|     150|    700000|   Presented|
|        902797|  CVS Health|Emma Gordian| Claude Shannon|       Tracking|     450|    490000|         Won|
|       2046943|  Salesforce|Emma Gordian| Claude Shannon|      Analytics|     750|   7000000|         Won|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|      Analytics|     300|   4550000|        Lost|
|       2169499|       Cisco|Emma Gordian| Claude Shannon|GPS Positioning|     300|    350000|   Presented|
+--------------+------------+------------+---------------+---------------+--------+----------+------------+

In [9]:
df_pyspark.groupBy('Company').sum().show()

+------------+-------------------+-------------+---------------+
|     Company|sum(Account Number)|sum(Licenses)|sum(Sale Price)|
+------------+-------------------+-------------+---------------+
|     Walmart|            2200450|          150|        2450000|
|  CVS Health|             902797|          450|         490000|
|  Salesforce|            2046943|          750|        7000000|
|       Cisco|            4338998|          600|        4900000|
|Exxon Mobile|             470248|          150|        2100000|
|   Microsoft|            1216870|          300|         350000|
|  Tesla Inc.|            1273370|          450|        3500000|
|         ATT|            1396064|          300|        1050000|
|      Google|            6370194|          600|        3150000|
|       Apple|             405886|          300|        4550000|
|        BOBO|            2192650|          150|        2450000|
|        IKEA|             420496|          300|        4550000|
+------------+-------------------+-------------+---------------+

In [11]:
df_pyspark.groupBy('Company').count().show()

+------------+-----+
|     Company|count|
+------------+-----+
|     Walmart|    1|
|  CVS Health|    1|
|  Salesforce|    1|
|       Cisco|    2|
|Exxon Mobile|    1|
|   Microsoft|    1|
|  Tesla Inc.|    2|
|         ATT|    2|
|      Google|    3|
|       Apple|    1|
|        BOBO|    1|
|        IKEA|    1|
+------------+-----+

In [17]:
'''
In PySpark, the groupBy() function is used to group rows of a DataFrame based on one or more columns, and the agg() method is
used to perform aggregate operations on the grouped data. The agg() method allows you to specify one or more aggregate functions
to apply to each group.
'''

df_pyspark.groupBy('Company').agg(count('Status').alias('Number of Statuses'),avg('Sale Price').alias('Mean Sale Price')).show()

+------------+------------------+---------------+
|     Company|Number of Statuses|Mean Sale Price|
+------------+------------------+---------------+
|     Walmart|                 1|      2450000.0|
|  CVS Health|                 1|       490000.0|
|  Salesforce|                 1|      7000000.0|
|       Cisco|                 2|      2450000.0|
|Exxon Mobile|                 1|      2100000.0|
|   Microsoft|                 1|       350000.0|
|  Tesla Inc.|                 2|      1750000.0|
|         ATT|                 2|       525000.0|
|      Google|                 3|      1050000.0|
|       Apple|                 1|      4550000.0|
|        BOBO|                 1|      2450000.0|
|        IKEA|                 1|      4550000.0|
+------------+------------------+---------------+