In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe_Use').getOrCreate()

In [3]:
spark

In [4]:
## Reading the dataset

In [5]:
path = r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\movie_scores.csv"

In [23]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv(path,inferSchema=True) # IF inferSchema is not set to true then Pyspark will treat all the columns as string

In [24]:
df_pyspark.show()

+----------+---------+----+----+---------------+----------------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|
+----------+---------+----+----+---------------+----------------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|
|      null|     null|null|null|           null|            null|
|      Hugh|  Jackman|51.0|   m|           null|            null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|
+----------+---------+----+----+---------------+----------------+

In [25]:
df_pyspark.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- pre_movie_score: double (nullable = true)
 |-- post_movie_score: double (nullable = true)

In [26]:
df_pyspark.select('first_name').show() # Select a particular column

+----------+
|first_name|
+----------+
|       Tom|
|      null|
|      Hugh|
|     Oprah|
|      Emma|
+----------+

In [27]:
type(df_pyspark.select('first_name'))

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.select(['first_name','last_name']).show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|       Tom|    Hanks|
|      null|     null|
|      Hugh|  Jackman|
|     Oprah|  Winfrey|
|      Emma|    Stone|
+----------+---------+

In [29]:
df_pyspark.dtypes

[('first_name', 'string'),
 ('last_name', 'string'),
 ('age', 'double'),
 ('sex', 'string'),
 ('pre_movie_score', 'double'),
 ('post_movie_score', 'double')]

In [30]:
df_pyspark.describe().show()

+-------+----------+---------+-----------------+----+---------------+----------------+
|summary|first_name|last_name|              age| sex|pre_movie_score|post_movie_score|
+-------+----------+---------+-----------------+----+---------------+----------------+
|  count|         4|        4|                4|   4|              3|               3|
|   mean|      null|     null|            52.75|null|            7.0|             9.0|
| stddev|      null|     null|15.88238017426859|null|            1.0|             1.0|
|    min|      Emma|    Hanks|             31.0|   f|            6.0|             8.0|
|    max|       Tom|  Winfrey|             66.0|   m|            8.0|            10.0|
+-------+----------+---------+-----------------+----+---------------+----------------+

In [31]:
# Adding columns

df_pyspark = df_pyspark.withColumn('Total Score',df_pyspark['pre_movie_score']+df_pyspark['post_movie_score'])

In [33]:
df_pyspark.show()

+----------+---------+----+----+---------------+----------------+-----------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|Total Score|
+----------+---------+----+----+---------------+----------------+-----------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|       18.0|
|      null|     null|null|null|           null|            null|       null|
|      Hugh|  Jackman|51.0|   m|           null|            null|       null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|       14.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|       16.0|
+----------+---------+----+----+---------------+----------------+-----------+

In [34]:
# Dropping the columns

df_pyspark.drop('Total Score').show() # not an inplace operation

+----------+---------+----+----+---------------+----------------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|
+----------+---------+----+----+---------------+----------------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|
|      null|     null|null|null|           null|            null|
|      Hugh|  Jackman|51.0|   m|           null|            null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|
+----------+---------+----+----+---------------+----------------+

In [35]:
df_pyspark.show()

+----------+---------+----+----+---------------+----------------+-----------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|Total Score|
+----------+---------+----+----+---------------+----------------+-----------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|       18.0|
|      null|     null|null|null|           null|            null|       null|
|      Hugh|  Jackman|51.0|   m|           null|            null|       null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|       14.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|       16.0|
+----------+---------+----+----+---------------+----------------+-----------+

In [37]:
# Renaming the column

df_pyspark.withColumnRenamed('Total Score','Summed Score').show()

+----------+---------+----+----+---------------+----------------+------------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|Summed Score|
+----------+---------+----+----+---------------+----------------+------------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|        18.0|
|      null|     null|null|null|           null|            null|        null|
|      Hugh|  Jackman|51.0|   m|           null|            null|        null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|        14.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|        16.0|
+----------+---------+----+----+---------------+----------------+------------+