In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     -------------------------------------- 310.8/310.8 MB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     -------------------------------------- 200.5/200.5 kB 4.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317167 sha256=b9e564ba7f19f8c467b87b6b96c857c0a632eb4aa59d48d79dbc11608242072b
  Stored in directory: c:\users\azam\appdata\local\pip\cache\wheels\9f\34\a4\159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.4.0

WARNING: Ignoring invalid distribution -treamlit (c:\users\azam\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\azam\appdata\local\programs\python\python39\lib\site-packages)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [12]:
path = r"C:\Users\Azam\Desktop\Extra Work\Udemy ML\UNZIP_FOR_NOTEBOOKS_FINAL\03-Pandas\movie_scores.csv"

In [13]:
df = pd.read_csv(path)

In [14]:
df.head()

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [15]:
# Always start a spark session

from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [20]:
spark

In [21]:
df_pyspark = spark.read.csv(path)

In [22]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [23]:
df_pyspark.show()

+----------+---------+----+----+---------------+----------------+
|       _c0|      _c1| _c2| _c3|            _c4|             _c5|
+----------+---------+----+----+---------------+----------------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|
|      null|     null|null|null|           null|            null|
|      Hugh|  Jackman|51.0|   m|           null|            null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|
+----------+---------+----+----+---------------+----------------+

In [26]:
# I want to keep first_name|last_name| age| sex|pre_movie_score|post_movie_score as columns names

df_pyspark = spark.read.option('header','true').csv(path)

In [27]:
df_pyspark.show()

+----------+---------+----+----+---------------+----------------+
|first_name|last_name| age| sex|pre_movie_score|post_movie_score|
+----------+---------+----+----+---------------+----------------+
|       Tom|    Hanks|63.0|   m|            8.0|            10.0|
|      null|     null|null|null|           null|            null|
|      Hugh|  Jackman|51.0|   m|           null|            null|
|     Oprah|  Winfrey|66.0|   f|            6.0|             8.0|
|      Emma|    Stone|31.0|   f|            7.0|             9.0|
+----------+---------+----+----+---------------+----------------+

In [29]:
# Pandas df
type(df)

pandas.core.frame.DataFrame

In [30]:
# Pyspark's df
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.head(3)

[Row(first_name='Tom', last_name='Hanks', age='63.0', sex='m', pre_movie_score='8.0', post_movie_score='10.0'),
 Row(first_name=None, last_name=None, age=None, sex=None, pre_movie_score=None, post_movie_score=None),
 Row(first_name='Hugh', last_name='Jackman', age='51.0', sex='m', pre_movie_score=None, post_movie_score=None)]

In [34]:
df_pyspark.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- pre_movie_score: string (nullable = true)
 |-- post_movie_score: string (nullable = true)